{
  "parser": "babel-eslint",
    "env": {
      "browser": true,
      "node": true,
      "es6": true
    },
    "plugins": [
      "react"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
    ],
    "rules": {
      // overrides
      no-console: ["error", { allow: ["log", "info", "warn", "error"] }],
      react/prop-types: 0
    }
}
