{
  "expo": {
    "sdkVersion": "23.0.0",
    "android": {
      "package": "com.baperteam.appv0",
      "config": {
        "googleMaps": {
          "apiKey": "GOOGLE-MAPS-API-KEY"
        }
      }
    }
  }
}
